nav {
	position: fixed;
	padding: 0 60px;
	background-color: gray;
	height: 60px;
	width: 100%;
}

nav img {
	width: 50px;
	height: 50px;
	margin: 5px 0;
	border-radius: 50%;
	border: 1px solid black;
	vertical-align: middle;
}

nav ul { 
	display: inline-block;
	text-align: center;
	list-style: none;
}

nav li {
	display: inline-block;
}

a {
	color: purple;
}

nav li a:hover {
	color: black;
}

nav ul li::after {
	margin-left: 5px;
	content: "|"
}

body {
	background: url(../images/outerspace_landscape.jpeg) no-repeat;
	background-size: cover;
}

main {
	padding-top: 90px; 
	min-width: 1000px;
}
 
.greenbox {
	position: relative;
	top: 120px;
	border: 10px green dotted;
	width: 600px;
	height: 300px;
	margin: 0 auto;
}

.spacecat, .spacedog {
	position: absolute;
	width: 200px;
	height: 200px;
}

.spacecat {
	top: -90px;
	left: -90px;
}

.spacedog {
	bottom: -120px;
	right: -60px;

}






